
<table>
    <thead>
        <tr>
            <th colspan="2"><%= @cat.name %></th>
        </tr>
        <img src="https://i.pinimg.com/originals/be/44/ec/be44ecf53810df9bd401194443d55f76.jpg" alt="Bigglesworth">
    </thead>
    <tbody>
        <tr>
            <td>The table body</td>
            <td>with two columns</td>
        </tr>
    </tbody>
</table>


